@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    // overflow: hidden;
}

body{
    background-color: #141520;
}

.left_bar{
    height: 100vh;
    width: 300px;
    border-right: 2px solid #2d2f3d;
    .inner{
        display: flex;
        flex-direction: column;
        margin: 40px;
        margin-top: 120px;
        .Heading{
            color: grey;
            font-weight: 600;
            font-size: 12px;
        }
        a{
            margin-top: 15px;
            text-decoration: none;
            color: #c3c5da;
            transition: 200ms;
            display: inline-block;
            font-weight: 500;
            letter-spacing: 0.3px;
            font-size: 14px;
            &:hover{
                color: #fff;
            }
        }
        .inner_set{
          display: flex;
          flex-direction: column;
          margin-top: 80px;
        }
    }
}

.contenter{
    display: flex;
.Main{
    width: 65%;
    height: 100vh;
    border-right: 2px solid #2d2f3d;;
}
.crypto_side{
    width: 100%;
    height: 90vh;
    border-bottom: 2px solid #2d2f3d;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    .Test_Crypto{
        width: 90%;
        height: 65px;
        margin-top: 9px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: 150ms;
        border-radius: 12px;
        &:hover{
            background-color: #008dff;
        }
        .bitcoin{
            color: gold;
            font-size: 40px;
        }
        .pri_na{
            display: flex;
        }
        .crypto_name{
            color: #fff;
            font-weight: 500;
            font-size: 19px;
            user-select: none;
        }
        p{
            margin: 0;
        }
        .prices{
            color: #65697c;
            font-weight: 800;
            font-size: 13px;
            word-spacing: 5px;
            user-select: none;
        }
        .cenebi{
            display: flex;
            justify-content: space-between;
            width: 270px;
            user-select: none;
        }
        .curr_image{
            margin-right: 15px;
            width: 40px;
        }
    }
}
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #424250 #141520;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #141520;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #424250;
    border-radius: 3px;
    border: 2px none #ffffff;
  }

  